<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nunet.rbsk"
    android:versionCode="1"
    android:versionName="1.0"

    >

    <uses-permission android:name="com.example.googlemaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" />

    <permission
        android:name="com.example.googlemaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:name=".RBSKApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/primor_color"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SpalshScreenActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="nunet.services.DBTestActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>

        <activity
            android:name="nunet.rbsk.login.LoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="nunet.rbsk.info.inst.InsituteFragmentActivityDialog"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <!--
        <activity android:windowSoftInputMode="adjustPan"
            android:name="nunet.rbsk.info.inst.SearchInstitute"
            android:screenOrientation="landscape"
             >
        </activity>











        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCZnPhl9_UBrhZS04GUC01J8C78b1cyX10" />

        <activity
            android:name="nunet.rbsk.info.child.AddStudentActivityDialog"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <!--
        <activity android:windowSoftInputMode="adjustPan"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
             >
        </activity>









        -->
        <activity
            android:name="nunet.rbsk.dashboard.DashBoardActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"></activity>
        <!--
        <activity android:windowSoftInputMode="adjustPan"
            android:name=".SearchPlan"
            android:screenOrientation="landscape"
             >
        </activity>









        -->

        <activity
            android:name="nunet.rbsk.planoffline.PlanOffLineActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.login.UserLoginActivity"
            android:label="@string/title_activity_user_login"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.planoffline.ModifyPlanActivtyDialog"
            android:label="@string/title_activity_modify_plan"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.dashboard.SkipInstituteActivityDialog"
            android:label="@string/title_activity_modify_plan"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.SettingsPlanActivity"
            android:label="@string/title_activity_settings_plan"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.mh.ScreenHistActivityDialog"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.ScreeningActivity"
            android:label="@string/title_activity_user_login"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.ScreeningLastScreenHistory"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.cv.ScreenVitalHeight"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.ScreeningFamilyHistory"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.DynamicQuestions"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.cv.ScreeningVitalsWeightght"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.cv.ScreenVitalMuac"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.cv.ScreenVitalHead"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.cv.ScreenVitalBloodlBlood"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.ScreeningSummary"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.cv.ScreenVitalTempalTemp"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.cv.ScreenVitalHemoglobinalHemoglobin"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.cv.ScreenVitalBP"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.cv.ScreenVitalAcuity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.SignoffRecommendations"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.SignOffDocComments"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.SignOffLocalTreatment"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.ScreeningChildDropoutActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.ExpandableQuestions"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.MH_HealthConditionsTable"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.ScreeningFilterStudent"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.screening.ReferralPopActivityDialog"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.login.IdentifyLoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.login.FinalLoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="nunet.rbsk.login.RegisterActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".Register_download"
            android:screenOrientation="landscape"

            android:windowSoftInputMode="adjustPan"></activity>

        <activity
            android:name=".Register_download_New"
            android:screenOrientation="landscape"

            android:windowSoftInputMode="adjustPan"></activity>

        <service
            android:name="nunet.services.IncrementalService"
            android:exported="false"></service>
        <service
            android:name="nunet.services.ObjectIncrementalService"
            android:exported="false"></service>
    </application>

</manifest>
